body
{
	color: #000000;
	background-color: #EFF1F1;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

a 
{
	color: #203781; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

a:hover
{
	color: #203781;
	text-decoration: underline;
}

h2.switchaai
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 17px;
}

h1
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 18px;
}

p
{
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 1.2;
	font-size: 12px;
}

b
{
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 1.2;
	font-size: 12px;
	font-weight: bold;
}

tt
{
	line-height: 1.2;
	font-weight: bold;
}

span.switchaai
{
	line-height: 30px;
}

input.switchaai
{
	border-width: 1px;
	border-style: solid;
	border-color: #888888;
}

a.switchaai
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 12px;
}

.outer-box
{
	margin-left:auto; margin-right:auto;
	border-style: solid;
	border-color: #00247D;
	border-width: 1px;
	padding: 10px;
	text-align: left;
	background-color: white;
}

.selectedIdP
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 12px;
	background-color: white;
	border-color: #203781;
	border-style: solid;
	margin: 2px;
	border-width: 1px;
	width: 400px;
	height: 25px;
	text-align: center;
	line-height: 25px;
}

.fullheight
{
	height: 100%;
	min-height: 100%;
}

.inner-box
{
	border-width: 1px;
	border-color: #203781;
	background-color: #979CE3;
	border-style: solid;
	padding: 3px;
}

