#wayf_div div.wayf_mframe {
	background-color: #FFFFFF;
	box-shadow: 1px 1px 8px #999999;
	border-radius: 13px;
	-webkit-box-shadow: 1px 1px 8px #999999;
	-webkit-border-radius: 13px;
	-moz-box-shadow: 1px 1px 8px #999999;
	-moz-border-radius: 13px;
}

#wayf_div div#wayf_mapframe {
	position: relative;
	float : center;
	z-index: 90;
	width:100%;
	font-size: 90%;
	top:0px;
}

#wayf_div div#mapleft{
	position: relative;
	float : left;
	z-index: 91;
	width:20%;
	height: 590px;
	text-align: left;
	vertical-align: top;
	background-color: lavender;
	padding-top: 10px;
	overflow-y: hidden;
}

#wayf_div div#mapcenter{
	position: relative;
	float : left;
	z-index: 92;
	width: 75%;
	height: 600px;
	background-color: lavender;
}

#wayf_div div#mapright{
	position: relative;
	float : left;
	z-index: 93;
	width:5%;
	height: 590px;
	text-align: center;
	vertical-align: middle;
	padding-top: 10px;
}

#wayf_div div.mouseover{
	background-Color: lightsteelblue;
	box-shadow: 1px 1px 8px #999999;
	border-radius: 13px;
	-webkit-box-shadow: 1px 1px 8px #999999;
	-webkit-border-radius: 13px;
	-moz-box-shadow: 1px 1px 8px #999999;
	-moz-border-radius: 13px;
}

#wayf_div div.mouseout{
	background-color: lavender;
}

#wayf_div div#mapclose{
	position: static;
	text-align: center;
	vertical-align: middle;
	color: black;
	font-size: 90%;
	padding: 5px;
	cursor: pointer;
}

#wayf_div div#mapgeolocation{
	position: static;
	text-align: center;
	vertical-align: middle;
	color: black;
	font-size: 90%;
	padding: 5px;
	cursor: pointer;
}

#wayf_div div#titlehint{
	background-color: chocolate;
}

#wayf_div div#titlegeolocation{
	background-color: indianred;
}

#wayf_div div.title{
	position:relative;
	float: center;
	width: 98%;
	font-size: 90%;
	color: white;
	font-weight: bold;
	text-align: center;
	vertical-align:middle;
	padding: 5px;
}

#wayf_div div.listhint{
	width: 98%;
	font-size: 100%;
	text-align: left;
	vertical-align:middle;
	padding: 5px;
}

#wayf_div div.list{
	float: left;
	width: 70%;
	font-size: 100%;
	text-align: left;
	vertical-align:middle;
	padding: 5px 5px 5px 10px;
}

#wayf_div div.distance{
	float: right;
	width: 28%;
	font-size: 80%;
	text-align: right;
	vertical-align:middle;
	padding: 0px 10px 0px 0px;
}

