#view_incsearch_base {
    position: relative;
}

#view_incsearch {
    position: absolute;
    font-size: 100%;
    width: 100%;
}

#view_incsearch div {
    display: block;
    overflow: hidden;
    white-space: nowrap;
}

