#view_incsearch_base {
    position: relative;
}

#view_incsearch {
    position: absolute;
    background-color: #FFFFFF;
    font-size: 100%;
    overflow: auto;
}

#view_incsearch div {
    display: block;
    overflow: auto;
    white-space: nowrap;
}

