#wayf_div div,
#wayf_div input {
	-webkit-box-sizing: border-box; /* Chrome, Safari */
	-moz-box-sizing: border-box;    /* Firefox */
	box-sizing: border-box;         /* IE8+, Opera */
}

#wayf_div .wayf_row,
#wayf_div .wayf_col,
#wayf_div .wayf_inputArea,
#wayf_div .wayf_optionArea,
#wayf_div .wayf_optionTitle,
#wayf_div .wayf_optionRadio,
#wayf_div .wayf_linkArea,
#wayf_div .wayf_optionCheck {
	display:-ms-flexbox;
	display:-webkit-flex;
	display: flex;
}

#wayf_div .wayf_col {
	-ms-flexbox-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
}

#wayf_div .wayf_inputArea {
	justify-content: space-between;
}

#wayf_div #userInputArea .wayf_optionTitle {
	width:70px;
}

#wayf_div .wayf_inputtext,
#wayf_div .wayf_inputtext #keytext {
	width: 100%;
	height:20px;
}

#wayf_div .wayf_inputtext #keytext {
	display:block;
}

#wayf_div .wayf_eventItem {
	margin-right: 3px;
}

#wayf_div .wayf_eventItem #dropdown_img,
#wayf_div .wayf_eventItem #geolocation_img {
	width:20px;
	height:20px;
}

#wayf_div .wayf_radioArea,
#wayf_div .wayf_checkArea {
	align-items: center;
	margin-top: 5px;
	font-size: 80%;
	margin-bottom: 5px;
	width: 100%;
}

#wayf_div .wayf_optionTitle {
	align-items: center;
	justify-content: flex-start;
	width: 75px;
	margin-top: 5px;
}

#wayf_div .wayf_optionRadio,
#wayf_div .wayf_optionCheck {
	justify-content: flex-start;
	width: 100%;
	margin-top: 5px;
}

#wayf_div .wayf_optionRadio {
	-ms-flexbox-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

#wayf_div .wayf_linkArea {
	justify-content: space-between;
	margin-top: 5px;
	margin-left: 5px;
}

#wayf_div #map_a {
	margin-right: 5px;
}

/* base in IdP list display area */
#wayf_div #view_incsearch_base {
	position: relative;
	z-index: 1;
}

/* IdP list display animation area */
#wayf_div #view_incsearch_animate {
	position: absolute;
	display: none;
	height: 150px;
	width: 100%;
}

/* IdP list display scroll area */
#wayf_div #view_incsearch_scroll {
	position: absolute;
	display: block;
	background-color: #FFFFFF;
	border: 1px solid #CCCCFF;
	height: 150px;
	width: 100%;
	overflow-y: scroll;
	overflow-x: auto;
}

/* IdP list display area */
#wayf_div #view_incsearch {
	position: absolute;
	display: block;
}

/* div in IdP list display area */
#wayf_div #view_incsearch div {
	display: block;
	width: 100%;
	white-space: nowrap;
}

/* IdP list: select */
#wayf_div #view_incsearch div.wayf_select {
	color: white;
	background-color: #3366FF;
	text-align: left;
}

/* IdP list: mouseover */
#wayf_div #view_incsearch div.wayf_over {
	color: black;
	background-color: #99CCFF;
	cursor: pointer;
	text-align: left;
}

/* IdP list: group title */
#wayf_div div.wayf_list_group {
	color: white;
	background-color: indianred;
	font-weight: bold;
	font-size: 75%;
	text-align: left;
	vertical-align: middle;
}

/* IdP list: IdP name */
#wayf_div div.wayf_list_idp {
	color: black;
	background-color: white;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	vertical-align: middle;
}

/* IdP list favorite: group title */
#wayf_div div.wayf_list_group_favorite {
	color: white;
	background-color: forestgreen;
	font-weight: bold;
	font-size: 75%;
	text-align: left;
	vertical-align: middle;
}

/* IdP list favorite: IdP name */
#wayf_div div.wayf_list_idp_favorite {
	color: black;
	background-color: #EEFFDD;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	vertical-align: middle;
}

/* IdP list hint: group title */
#wayf_div div.wayf_list_group_hint {
	color: white;
	background-color: chocolate;
	font-weight: bold;
	font-size: 75%;
	text-align: left;
	vertical-align: middle;
}

/* IdP list hint: IdP name */
#wayf_div div.wayf_list_idp_hint {
	color: black;
	background-color: #FFFF99;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	vertical-align: middle;
}

/* dropdown image */
#wayf_div #dropdown_img,
#wayf_div #geolocation_img {
	cursor: pointer;
}

/* link default */
#wayf_div #IdPList a {
	white-space: nowrap;
	font-size: 70%;
	color: blue;
	text-align: left;
}

#wayf_div #IdPList .wayf_list_idp_regurl {
	margin-left: 10px;
}

/* link active */
#wayf_div #IdPList a:hover,
#wayf_div #IdPList a:focus,
#wayf_div #wayf_mapframe a:hover,
#wayf_div #wayf_mapframe a:focus,
#wayf_div #IdPList .wayf_list_idp_regurl a:hover,
#wayf_div #IdPList .wayf_list_idp_regurl a:focus {
	color: red;
}

/*
@media only screen and (max-width: 768px) {
	#wayf_div .wayf_inputArea,
	#wayf_div .wayf_inputArea > .wayf_inputtext,
	#wayf_div .wayf_inputArea > .wayf_eventItem,
	#wayf_div .wayf_inputArea > .wayf_eventItem > input {
		display:inline-block !important;
	}
	#wayf_div .wayf_inputtext {
		width: 80% !important;
	}
	#wayf_div select,
	#wayf_div #wayf_submit_div,
	#wayf_div #wayf_submit_button {
		width: 100%;
	}
	#view_incsearch_animate, #view_incsearch_scroll {
		height: auto !important;
	}
	#view_incsearch_scroll, #view_incsearch {
		position: static !important;
	}
}
*/
