#wayf_div div, input {
	-webkit-box-sizing: border-box; /* Chrome, Safari */
	-moz-box-sizing: border-box;    /* Firefox */
	box-sizing: border-box;         /* IE8+, Opera */
}

.row, .col, .inputArea, .optionArea, .optionTitle, .optionRadio, .linkArea, .optionCheck {
        display:-ms-flexbox;
        display:-webkit-flex;
        display: flex;
}

.col {
        -ms-flexbox-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
}

.inputArea, .optionArea {
        justify-content: space-between;
}

.inputtext {
        width: 100%;
}

.eventItem {
        align-items: center;
        margin-left: 1px;
}

.radioArea, .checkArea {
        align-items: center;
        margin-top: 5px;
        font-size: 80%;
        margin-bottom: 5px;
        width: 100%;
}

.optionTitle {
        align-items: center;
        justify-content: flex-start;
        width: 75px;
        margin-top: 5px;
}

.optionRadio, .optionCheck {
        justify-content: flex-start;
        width: 100%;
        margin-top: 5px;
}

.optionRadio {
        -ms-flexbox-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
}

.linkArea {
        justify-content: space-between;
        margin-top: 5px;
        margin-left: 5px;
}

#map_a {
        margin-right: 5px;
}

/* base in IdP list display area */
#view_incsearch_base {
	position: relative;
	z-index: 9999;
}

/* IdP list display animation area */
#view_incsearch_animate {
	position: absolute;
	display: none;
	height: 150px;
	width: 100%;
}

/* IdP list display scroll area */
#view_incsearch_scroll {
        position: absolute;
        display: block;
        background-color: #FFFFFF;
        border: 1px solid #CCCCFF;
        height: 150px;
        width: 100%;
        overflow-y: scroll;
        overflow-x: auto;
}

/* IdP list display area */
#view_incsearch {
	position: absolute;
	display: block;
}

/* div in IdP list display area */
#view_incsearch div {
	display: block;
	width: 100%;
	white-space: nowrap;
}

/* IdP list: select */
#view_incsearch div.select {
	color: white;
	background-color: #3366FF;
	text-align: left;
}

/* IdP list: mouseover */
#view_incsearch div.over {
	color: black;
	background-color: #99CCFF;
	cursor: pointer;
	text-align: left;
}

/* IdP list: group title */
div.list_group {
	color: white;
	background-color: indianred;
	font-weight: bold;
	font-size: 75%;
	text-align: left;
	vertical-align: middle;
}

/* IdP list: IdP name */
div.list_idp {
	color: black;
	background-color: white;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	vertical-align: middle;
}

/* IdP list favorite: group title */
div.list_group_favorite {
	color: white;
	background-color: forestgreen;
	font-weight: bold;
	font-size: 75%;
	text-align: left;
	vertical-align: middle;
}

/* IdP list favorite: IdP name */
div.list_idp_favorite {
	color: black;
	background-color: #EEFFDD;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	vertical-align: middle;
}

/* IdP list hint: group title */
div.list_group_hint {
        color: white;
        background-color: chocolate;
        font-weight: bold;
        font-size: 75%;
        text-align: left;
	vertical-align: middle;
}

/* IdP list hint: IdP name */
div.list_idp_hint {
        color: black;
        background-color: #FFFF99;
        font-weight: normal;
        font-size: 100%;
        text-align: left;
	vertical-align: middle;
}

/* dropdown image */
#dropdown_img, #geolocation_img {
	cursor: pointer;
}

/* link default */
#IdPList a {
        white-space: nowrap;
        font-size: 70%;
        color: blue;
	text-align: left;
}

/* link active */
#IdPList a:hover, #IdPList a:focus,
#mapframe a.incsearch_link:hover, #mapframe a.incsearch_link:focus {
        color: red;
}
