#wayf_div div, input {
	-webkit-box-sizing: border-box; /* Chrome, Safari */
	-moz-box-sizing: border-box;    /* Firefox */
	box-sizing: border-box;         /* IE8+, Opera */
}

/*
#wayf_div {
	position: relative;
	float: top;
	z-index: 1;
}
*/

/* base in IdP list display area */
#view_incsearch_base {
	position: relative;
}

/* IdP list display animation area */
#view_incsearch_animate {
	position: absolute;
	display: none;
	height: 150px;
	width: 100%;
}

/* IdP list display scroll area */
#view_incsearch_scroll {
        position: absolute;
        display: block;
        background-color: #FFFFFF;
        border: 1px solid #CCCCFF;
        height: 150px;
        width: 100%;
        overflow-y: scroll;
        overflow-x: auto;
}

/* IdP list display area */
#view_incsearch {
	position: absolute;
	display: block;
}

/* div in IdP list display area */
#view_incsearch div {
	display: block;
	width: 100%;
	white-space: nowrap;
}

/* IdP list: select */
#view_incsearch div.select {
	color: white;
	background-color: #3366FF;
}

/* IdP list: mouseover */
#view_incsearch div.over {
	color: black;
	background-color: #99CCFF;
	cursor: pointer;
}

/* IdP list: group title */
div.list_group {
	color: white;
	background-color: indianred;
	font-weight: bold;
	font-size: 75%;
	text-align: left;
	vertical-align: middle;
}

/* IdP list: IdP name */
div.list_idp {
	color: black;
	background-color: white;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	vertical-align: middle;
}

/* IdP list favorite: group title */
div.list_group_favorite {
	color: white;
	background-color: forestgreen;
	font-weight: bold;
	font-size: 75%;
	text-align: left;
	vertical-align: middle;
}

/* IdP list favorite: IdP name */
div.list_idp_favorite {
	color: black;
	background-color: #EEFFDD;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	vertical-align: middle;
}

/* IdP list hint: group title */
div.list_group_hint {
        color: white;
        background-color: chocolate;
        font-weight: bold;
        font-size: 75%;
        text-align: left;
	vertical-align: middle;
}

/* IdP list hint: IdP name */
div.list_idp_hint {
        color: black;
        background-color: #FFFF99;
        font-weight: normal;
        font-size: 100%;
        text-align: left;
	vertical-align: middle;
}

/* dropdown image */
#dropdown_img, #geolocation_img {
	cursor: pointer;
}

/* registration */
#reg_a {
	font-size: x-small;
	text-decoration: underline;
	white-space: nowrap;
	cursor: pointer;
	vertical-align:top;
	margin-left: 10px;
}

/* clear */
#clear_a {
	font-size: 70%;
}

/* map */
#map_a {
	font-size: 70%;
}

/* clear color: default */
div.default, a.default{
	text-decoration: underline;
	white-space: nowrap;
	color: blue;
	cursor: pointer;
}

/* clear color: focus or mouseover */
div.active, a.active{
	text-decoration: underline;
	white-space: nowrap;
	color: red;
	cursor: pointer;
}

