/* base in IdP list display area */
#view_incsearch_base {
	position: relative;
}

/* IdP list display animation area */
#view_incsearch_animate {
	position: absolute;
	display: block;
	height: 150px;
	width: 100%;
}

/* IdP list display area */
#view_incsearch {
	position: absolute;
	background-color: #FFFFFF;
	border: 1px solid #CCCCFF;
	width: 100%;
	height: 150px;
	overflow-x: hidden;
	overflow-y: auto;
}

/* div in IdP list display area */
#view_incsearch div {
	display: block;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
}

/* IdP list: select */
#view_incsearch div.select {
	color: #FFFFFF;
	background-color: #3366FF;
}

/* IdP list: mouseover */
#view_incsearch div.over {
	background-color: #99CCFF;
	cursor: pointer;
}

/* IdP list: group title */
div.list_group {
	font-weight: bold;
	font-size: 75%;
	text-align: center;
	background-color: indianred;
	color: white;
}

/* IdP list: IdP name */
div.list_idp {
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	background-color: white;
	color: black;
}

/* dropdown image */
#dropdown_img {
	cursor: pointer;
}

/* clear */
#clear_a {
	font-size: 70%;
	text-decoration: underline;
	cursor: pointer;
}

/* clear color: default */
div.default {
	 color: blue;
}

/* clear color: focus or mouseover */
div.active {
	 color: red;
}

